<h1><slot /></h1>

<style>
  h1 {
    color: var(--color-primary);

    font-size: 6rem;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
  }

  @media screen and (max-width: 578px) {
    h1 {
      font-size: 4rem;
    }
  }
</style>
