---
function getTimeBasedMessage() {
  let time: any = new Date();
  time = time.getHours();

  if (time >= 1 && time < 12) {
    return "Good morning";
  } else if (time >= 12 && time < 19) {
    return "Good afternoon";
  } else if (time >= 19) {
    return "Good evening";
  }
}
---

<h1>
  {getTimeBasedMessage()}.
</h1>

<style>
  h1 {
    font-size: var(--size-heading-1);
  }
</style>
