---
interface Props {
  subtitle: string;
}

const { subtitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jamie John | {subtitle}</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --color-primary: #e6f1e9;
    --color-secondary: #201e1e;
    --color-links: #3ddf3d;

    --spacing-big: 4rem;
    --spacing-medium: 2rem;
    --spacing-small: 1rem;

    --mobile: 578px;
  }

  html {
    font-size: 10px;
    font-family: system-ui, sans-serif;
  }

  body {
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  header {
    text-align: center;
    padding: 10rem 0;
  }

  .container {
    position: relative;
    max-width: 80rem;
    margin: auto;
    min-height: 100vh;
    padding-bottom: var(--spacing-big);
  }

  a {
    color: var(--color-links);
    text-decoration: none;
  }

  p {
    font-size: 1.4rem;
    line-height: 2;
  }
</style>
